body{
	background-color: #13273e;
	margin: 0px;
	font: 14px Circular,Std,Book,sans-serif;
}

section.arg1{
	background-color: white;
	width: 100%;
}

section.arg2{
	background-color: #f9fafb;
	width: 100%;
}

footer{
	background-color: #13273e;
	width: 100%;
}

.Decoup{
	width: 100%;
	height: 200px;
	background-color: white; 
	clip-path: polygon(-20% 0%, 100% 0%, 100% 100%);
	transform:scaleY(-1);
	z-index: 4;
}